.google-form-container {
    text-align: center; /* Center the iframe horizontally */
    margin: auto; /* Provide some spacing around the form */
    max-width: 640px; /* You can set a max-width for better responsiveness */
  }
  
  .google-form-container iframe {
    width: 100%; /* Make the iframe responsive */
    min-height: 1520px; 
  }
  