@font-face {
    font-family: 'Helvetica73Bold';
    src: url('./fonts/Helvetica73.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  

.info-container {
    color: rgb(255, 255, 255); /* Text color */
    background-color: rgb(0, 0, 0); /* Background color */
    border: 2px solid black; /* Black border */
    padding: 20px; /* Padding inside the container */
    font-family: 'Helvetica73Bold', sans-serif;
    text-align: center; /* Center the text */
    align-items: center;
    height: 100%;
}

.info-container h1 {
    margin-bottom: 15px; /* Space below the heading */
}

.info-container p {
    font-size: 16px; /* Font size for the paragraph */
    line-height: 1.6; /* Line height for readability */
}

.social-icons {
    display: flex;
    justify-content: space-between; /* This ensures the icons are evenly spaced */
    align-items: center; /* Vertically centers the icons in the container */
    height: 100px; /* Adjust the height as needed */
    width: 100%; /* Ensures the container takes full width */
  }
  
  .social-icon-link {
    flex: 1; /* Ensures each link takes equal space */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    font-size: 60px; /* Increase the size of the icons */
    color: #fff; /* Icon color (white) */
  }
  
  .social-icon-link:hover {
    color: #aaa; /* Lighter shade on hover */
  }
  