/* Navbar styles */
.navbar {
  background: black;
  height: 80px; /* Set the height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* This will put space between the logo and nav items */
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Set a max-width for the inner content */
  padding: 0 20px;
}

.navbar-logo {
  /* Position the logo as needed */
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 100%;
  width: auto;
}


.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

/* Add this CSS to make links side by side */
.nav-item {
  display: inline-block;
  padding: 0 15px; /* Adjust padding for spacing between nav items */
}

.nav-links {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 0 15px; /* Adjust padding for spacing between nav links */
  transition: color 0.3s ease-in-out;
}

.nav-item-left,
.nav-item-right {
  display: flex;
  align-items: center;
}

.nav-item-right {
  justify-content: flex-end;
  flex-grow: 1; /* Allows the right nav items to grow and push to the edge */
}